.container-cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.base-card {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  border-radius: 8px;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
}

.card-face {
  align-items: center;
  backface-visibility: hidden;
  border-radius: 8px;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.card-front {
  align-items: center;
  backface-visibility: hidden;
  background-color: #6fb2ff;
  background-image: none;
  border: 1px solid rgba(49, 49, 49, 0.267);
  box-shadow: 0 0 1.5px 0.5px black;
  display: flex;
  height: 90%;
  justify-content: center;
  transform: rotateY(180deg);
  width: 90%;
}
.card-back {
  background-color: #ffffff;
  background-image: url(../src/images/help-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  border-radius: 8px;
  font-size: 2.5em;
  text-align: center;
}

.card-8 {
  border-radius: 8px;
}
.card-12 {
  border-radius: 8px;
}
.card-16 {
  border-radius: 8px;
}

.card-8- {
  background-color: #fff;
  background-image: url(../src/images/help-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 7em;
  width: 7em;
}
.card-16- {
  background-color: #fff;
  background-image: url(../src/images/help-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 5em;
  width: 5em;
}
.card-24- {
  background-color: #fff;
  background-image: url(../src/images/help-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 4em;
  width: 4em;
}
.game-finished {
  animation: rotate-left-right 1s infinite;
}
@keyframes rotate-left-right {
  0%,
  100% {
    opacity: 1;
    transform: scale(1) rotateZ(0);
  }
  25% {
    opacity: 0.8;
    transform: scale(1.05) rotateZ(5deg);
  }
  50% {
    opacity: 1;
    transform: scale(1) rotateZ(0);
  }
  75% {
    opacity: 0.8;
    transform: scale(1.05) rotateZ(-5deg);
  }
}
