.difficulty-view {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 12px 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.star {
  font-size: 0.6em;
}

.active-difficulty {
  background-color: var(--secondary-color-logo);
  border: 1px solid var(--secondary-color-logo);
}
