.login-view {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: "Victor-Mono-Bold";
  font-size: 18px;
  height: 60px;
  outline: none;
  text-align: center;
  width: 100%;
}
input:is(:focus) {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 2px 3px var(--secondary-color);
}

.logo {
  margin-top: -100px;
  max-width: 250px;
  min-width: 80px;
  width: 100%;
}

.text-login {
  font-family: "Victor-Mono-Bold";
  font-size: 1.2em;
  text-align: center;
}
