.home-view {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.navigation-container {
  align-items: center;
  background-color: var(--secondary-color-logo);
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.192);
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 12px;
  text-align: center;
  width: 100%;
  z-index: 99;
}
.navigation-container span {
  flex: content;
  font-family: var(--Victor-Mono-Bold);
  font-size: 2.2em;
  width: 300px;
}
.navigation-container span.title-l {
  margin-left: -30px !important;
}
.navigation-container span.title-difficulty {
  margin-left: 0px !important;
}
.btn-navigation {
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  height: 35px;
  position: relative;
  width: 35px;
  z-index: 999;
}
.btn-navigation:after {
  content: "\003C";
  left: 6px;
  position: absolute;
}
.btn-navigation::before {
  content: "\003C";
  position: absolute;
  right: 5px;
}
.logo-container {
  max-width: 180px;
  object-fit: cover;
  width: 100%;
}
.logo-menu {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}
.login-button {
  background-color: #ff6868;
  border: 1px solid #ff6868;
  transition: 0.5s;
}
