/* ! 375px a 320px */
@media (max-width: 375px) {
  .main-container {
    padding: 0;
  }
  .content-container {
    border-radius: 0;
  }
  .navigation-container {
    border-radius: 0;
  }
  .logo-container {
    max-width: 150px;
    object-fit: cover;
    width: 100%;
  }
  button {
    height: 50px;
    max-width: 180px;
  }
  .container {
    gap: 8px;
  }
  .card-8 {
    height: 5em;
    width: 5em;
  }
  .card-12 {
    height: 4em;
    width: 4em;
  }
  .card-16 {
    height: 3.4em;
    width: 3.4em;
  }
  .icon-8 {
    font-size: 2.5em;
  }
  .icon-12 {
    font-size: 2.2em;
  }
  .icon-16 {
    font-size: 2.5em;
  }
}
/* ! 376px a 576px */
@media (min-width: 376px) {
  .main-container {
    padding: 0;
  }
  .content-container {
    border-radius: 0;
  }
  .navigation-container {
    border-radius: 0;
  }
  .logo-container {
    max-width: 180px;
    object-fit: cover;
    width: 100%;
  }
  button {
    height: 50px;
    max-width: 220px;
  }
  .container {
    gap: 8px;
  }
  .card-8 {
    height: 5em;
    width: 5em;
  }
  .card-12 {
    height: 5em;
    width: 5em;
  }
  .card-16 {
    height: 3.6em;
    width: 3.6em;
  }
  .icon-8 {
    font-size: 2.5em;
  }
  .icon-12 {
    font-size: 2.5em;
  }
  .icon-16 {
    font-size: 2.5em;
  }
}
/* ! 576px a 768px */
@media (min-width: 576px) {
  .main-container {
    padding: 8px;
  }
  .content-container {
    border-radius: 0px 0px 8px 8px;
  }
  .navigation-container {
    border-radius: 8px 8px 0px 0px;
  }
  button {
    height: 50px;
    max-width: 233px;
  }
  .main-container {
    max-width: 650px;
    width: 100%;
  }
  .container {
    width: 90%;
  }
  .card-8 {
    height: 5em;
    width: 5em;
  }
  .card-12 {
    height: 5em;
    width: 5em;
  }
  .card-16 {
    height: 4.6em;
    width: 4.6em;
  }
}

/* ! 768px a 992px */
@media (min-width: 768px) {
  .logo-container {
    max-width: 200px;
    object-fit: cover;
    width: 100%;
  }
  button {
    height: 55px;
    max-width: 233px;
  }
  .card-8 {
    height: 7em;
    width: 7em;
  }
  .card-12 {
    height: 5em;
    width: 5em;
  }
  .card-16 {
    height: 5em;
    width: 5em;
  }
  .icon-8 {
    font-size: 3em;
  }
  .icon-12 {
    font-size: 3em;
  }
  .icon-16 {
    font-size: 3em;
  }
}

/* ! 992px a 1200px */
@media (min-width: 992px) {
}

/* ! 1200px a 1400px */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .card-8 {
    height: 7em;
    width: 7em;
  }
  .card-12 {
    height: 6.5em;
    width: 6.5em;
  }
  .card-16 {
    height: 5.5em;
    width: 5.5em;
  }
  .icon-8 {
    font-size: 3em;
  }
  .icon-12 {
    font-size: 3em;
  }
  .icon-16 {
    font-size: 3em;
  }
}
