* {
  font-size: 16px;
}
.scores-view {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 95%;
  justify-content: start;
  margin-top: -30px;
  overflow-y: scroll;
  padding: 12px 25px;
  width: 100%;
}

.card {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  max-width: 350px;
  padding: 8px;
  width: 100%;
}

.card-header {
  align-items: center;
  display: flex;
  height: 50%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.username {
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
}

.card-body {
  font-size: 1.22em;
  height: 100%;
  padding-top: 8px;
  width: 100%;
}
