* {
  box-sizing: border-box;
  font-family: var(--Victor-Mono-Bold);
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --light-color: #fff;
  --dark-color: #010101;
  --primary-color: #50a2ff;
  --secondary-color: #6fb2ff;
  --tertiary-color: #26292b;
  --quaternary-color: #2e3239;
  --primary-color-logo: #fcd34d;
  --secondary-color-logo: #ff6868;
  --disable-color-bg: #324382;
  --disable-color-text: #b3b3b3;
  --fade-color: rgb(0, 0, 0, 1);
  --Victor-Mono-Regular: Victor-Mono-Regular;
  --Victor-Mono-Bold: Victor-Mono-Bold;
  --Victor-Mono-Italic: Victor-Mono-Italic;
  --Victor-Mono-BoldItalic: Victor-Mono-BoldItalic;
  --Victor-Mono-Oblique: Victor-Mono-Oblique;
  --Victor-Mono-BoldOblique: Victor-Mono-BoldOblique;
}

.hidden {
  display: none !important;
}
.disable-btn {
  background-color: var(--disable-color-bg);
  border: none !important;
  box-shadow: none !important;
  color: var(--disable-color-text);
  outline: none !important;
}
.disable-btn:is(:hover, :focus, :active) {
  background-color: var(--disable-color-bg);
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

body {
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    #1783ff,
    #2489ff,
    #2f8fff,
    #3a95ff,
    #449bff,
    #4a9eff,
    #50a2ff,
    #56a5ff,
    #59a7ff,
    #5da8fe,
    #60aafe,
    #63abfd
  );
  /* background-image: url(../src/images/bg-game.svg); */
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: auto;
  position: relative;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding: 8px 0;
  width: 100vw;
}
.content-container {
  align-items: center;
  background-color: var(--quaternary-color);
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}


button {
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  color: var(--light-color);
  cursor: pointer;
  display: flex;
  /* flex-direction: column-reverse; */
  font-size: 1.4em;
  font-weight: 400;
  height: 50px;
  justify-content: center;
  letter-spacing: 1px;
  max-width: 230px;
  outline: var(--primary-color);
  position: relative;
  scale: 1;
  text-align: center;
  transition: 0.3s;
  width: 100%;
}
.btn-difficulty {
  flex-direction: column-reverse;
}

button:is(:hover, :active) {
  background-color: var(--secondary-color-logo);
  /* background-image: url("../src/images/bg-btn.gif"); */
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 2px 2px var(--primary-color);
}
.link {
  color: var(--light-color);
  font-family: var(--Victor-Mono-BoldItalic);
  font-size: 1em;
  text-decoration: none;
}
.created-by {
  color: rgba(255, 255, 255, 0.637);
  font-family: var(--Victor-Mono-BoldItalic);
  font-size: 0.8em;
  margin: 0;
  margin-top: -30px;
  padding: 0;
  text-align: center;
  z-index: 999;
}
.created-by .link {
  color: rgba(255, 255, 255, 0.637);
  font-family: var(--Victor-Mono-BoldItalic);
}
.bg {
  background-color: var(--quaternary-color);
}

