* {
  box-sizing: border-box;
  font-family: var(--Victor-Mono-Bold);
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --light-color: #fff;
  --dark-color: #010101;
  --primary-color: #5f7adb;
  --secondary-color: #a2b2ee;
  --tertiary-color: #26292b;
  --quaternary-color: #2e3239;
  --disable-color-bg: #324382;
  --disable-color-text: #b3b3b3;
  --Victor-Mono-Regular: Victor-Mono-Regular;
  --Victor-Mono-Bold: Victor-Mono-Bold;
  --Victor-Mono-Italic: Victor-Mono-Italic;
  --Victor-Mono-BoldItalic: Victor-Mono-BoldItalic;
  --Victor-Mono-Oblique: Victor-Mono-Oblique;
  --Victor-Mono-BoldOblique: Victor-Mono-BoldOblique;
}

.hidden {
  display: none !important;
}
.disable-btn {
  background-color: var(--disable-color-bg);
  border: none !important;
  box-shadow: none !important;
  color: var(--disable-color-text);
  outline: none !important;
}
.disable-btn:hover {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #a2b2ee,
    #92a4ea,
    #8196e5,
    #7088e0,
    #5f7adb
  );
  color: var(--light-color);
  height: 100vh;
  overflow: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  overflow: hidden;
  padding: 8px;
}
.navigation-container {
  align-items: center;
  background-color: var(--tertiary-color);
  border-radius: 8px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.192);
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 12px;
  text-align: center;
  width: 100%;
}
.navigation-container span {
  flex: content;
  font-family: var(--Victor-Mono-Bold);
  font-size: 2.2em;
  width: 300px;
}
.navigation-container span.title-l {
  margin-left: -30px !important;
}
.navigation-container span.title-difficulty {
  margin-left: 0px !important;
}
.btn-navigation {
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
  z-index: 1;
}
.content-container {
  align-items: center;
  background-color: var(--quaternary-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 92%;
  justify-content: center;
  overflow: hidden;
}
.navigation-container {
  align-items: center;
  background-color: var(--tertiary-color);
  border-radius: 8px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.192);
  color: #fff;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 12px;
  text-align: center;
  width: 100%;
}
.btn-navigation {
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
  z-index: 1;
}
button {
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  color: var(--light-color);
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  font-size: 1.6em;
  font-weight: 400;
  height: 65px;
  justify-content: center;
  letter-spacing: 2px;
  max-width: 233px;
  outline: var(--primary-color);
  scale: 1;
  text-align: center;
  transition: 0.3s;
  width: 100%;
}
.btn-menu,
.btn-difficulty,
.btn-login,
.btn-theme {
  padding: 12px;
  transition: 0.3s;
  width: 100%;
}
button:is(:hover) {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 2px 2px var(--secondary-color);
  scale: 1.05;
}
button:is(:focus, :active) {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 2px 3px var(--secondary-color);
  scale: 1.05;
}

.created-by {
  color: rgba(255, 255, 255, 0.637);
  font-family: var(--Victor-Mono-BoldItalic);
  font-size: 0.8em;
  margin: 0;
  margin-top: -30px;
  padding: 0;
  text-align: center;
}
.card-8 {
  background-color: #fff;
  background-image: url(../src/images/help-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 7em;
  width: 7em;
}
.card-16 {
  background-color: #fff;
  background-image: url(../src/images/help-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 5em;
  width: 5em;
}
.card-24 {
  background-color: #fff;
  background-image: url(../src/images/help-circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 4em;
  width: 4em;
}
